<!-- info-panel -->
<style>
  #info-panel {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0Rm4h0eDFsX77X0Nu4CZKkaRCS1uHKLgaw7OcfQr34YZL0joS7_vJU-UHTF2DvdaQQUw&usqp=CAU');
  }
  #title {
    background-image: url('https://i.pinimg.com/564x/c6/3b/8e/c63b8e0a4fad79e99851eba9e133569b.jpg');
    box-shadow:
      rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
      rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
      rgba(0, 0, 0, 0.06) 0px 2px 1px,
      rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px,
      rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
</style>
<div class="col-3 px-4 pt-2" id="info-panel">
  <!--  text info -->
  <div id="title" class="text-center pt-1">
    <h5 class="text-white">Thông tin máy chủ</h5>
  </div>
  <!-- counters -->
  <style>
    #counter {
      background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/556/117/small_2x/pixel-background-games-concept-background-resizable-seamless-pattern-oak-plate-vector.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
  </style>
  <div
    class="text-center mt-4 py-3 fw-bold text-white position-relative d-flex align-items-center justify-content-center"
    id="counter"
  >
    <div class="position-absolute start-0 text-center">
      <img src="./images/now1.png" alt="emerald" width="40px" height="40px" />
      <br />
      <span class="small">Welcome</span>
    </div>
    <div class="text-center">
      <span class="d-block">ĐANG MỞ</span>
      <span class="d-block"
        ><b><%= payload.serverStatus.onlinePlayers.toLocaleString('en-US'); %></b> /
        <%= payload.serverStatus.maxPlayers.toLocaleString('en-US'); %></span
      >
    </div>
    <div class="position-absolute end-0 text-center">
      <img src="./images/now1.png" alt="emerald" width="40px" height="40px" />
      <br />
      <span class="small">Welcome</span>
    </div>
  </div>
  <!-- memberships -->
  <style>
    #membership {
      background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/556/117/small_2x/pixel-background-games-concept-background-resizable-seamless-pattern-oak-plate-vector.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      box-shadow:
        rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px,
        rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px,
        rgba(240, 46, 170, 0.05) 25px 25px;
    }
  </style>
  <div class="mt-4 text-center text-white p-1" id="membership">
    <img src="./images/steve-head.png" alt="steve-head" width="40" height="40" />
    <br />
    <span
      ><span class="fw-bold text-decoration-underline"
        ><%= String(payload.serverStatus.members).padStart(2, '0') %></span
      >
      thành viên</span
    >
    <br />
    <span>đã tham gia</span>
    <hr class="text-white" />
    <div class="text-start borrow fw-bolder">
      <i class="fa-solid fa-earth-asia text-bg-light text-success"></i>
      &emsp;IP:&emsp;<span class="text-uppercase"><%= process.env.SERVER_IP %></span>
    </div>
    <hr class="text-white" />
    <div class="text-start borrow fw-bolder">
      <i class="fa-solid fa-code-merge text-bg-light text-success"></i>
      &emsp;Phiên bản:
      <ul>
        <li>1.8+, 1.9+, 1.10+, 1.11+, 1.12+, 1.13+, 1.14+, 1.15+, 1.16+, 1.17+, 1.18+, 1.19+, 1.20+</li>
      </ul>
      <hr class="text-white" />
      <i class="fa-solid fa-code-fork text-bg-light text-success"></i>
      &emsp;Phiên bản ổn định:
      <ul>
        <li>1.8.8, 1.12.2, 1.16.5 (*), 1.20.2</li>
      </ul>
    </div>
  </div>
  <!-- types -->
  <style>
    #types {
      background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/556/117/small_2x/pixel-background-games-concept-background-resizable-seamless-pattern-oak-plate-vector.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      box-shadow:
        rgba(240, 46, 170, 0.4) -5px 5px,
        rgba(240, 46, 170, 0.3) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px,
        rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;
    }
    #title-types {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1edov94Cdo8vZbaUlpcuRAkcR76tRLdT7ADz1EyHb3Wu7Ee0xiJ992jFJpGNaTapp7jQ&usqp=CAU');
    }
  </style>
  <div class="mt-4 text-white p-1" id="types">
    <div class="text-center p-1" id="title-types">
      <span class="fw-bolder text-white fw-bolder">Thông tin</span>&ensp;
      <i class="fa-solid fa-circle-question"></i>
    </div>
    <span class="fw-bold">Cày cuốc <i class="fa-solid fa-sack-dollar text-info"></i></span>
    <span> SkyBlock, Prison, Towny, Faction, OneBlock, SkyMine, Minelord,.. </span>
    <span class="fw-bold">Minigames <i class="fa-solid fa-khanda violet"></i></span>
    <span> Bedwars, Skywars, Eggwars, Onepiece,.. </span>
  </div>
  <!-- postings -->
  <style>
    #postings {
      background-image: url('https://static.vecteezy.com/system/resources/thumbnails/007/556/117/small_2x/pixel-background-games-concept-background-resizable-seamless-pattern-oak-plate-vector.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      box-shadow:
        rgba(240, 46, 170, 0.4) 5px 5px,
        rgba(240, 46, 170, 0.3) 10px 10px,
        rgba(240, 46, 170, 0.2) 15px 15px,
        rgba(240, 46, 170, 0.1) 20px 20px,
        rgba(240, 46, 170, 0.05) 25px 25px;
    }
    #title-posting {
      background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1edov94Cdo8vZbaUlpcuRAkcR76tRLdT7ADz1EyHb3Wu7Ee0xiJ992jFJpGNaTapp7jQ&usqp=CAU');
    }
  </style>
  <div class="mt-4 text-white p-1" id="postings">
    <div class="text-center p-1" id="title-posting">
      <span class="fw-bolder text-white fw-bolder">Bài viết</span>&ensp;
      <i class="fa-solid fa-scroll"></i>
    </div>
    <ul class="nav flex-column">
      <% for(let i=0; i<payload.eventTitles.length; i++) { %>
      <li class="nav-item border-bottom border-dark crs">
        <a class="nav-link text-light fw-bolder" href="/postings"><%= payload.eventTitles[i] %></a>
      </li>
      <% } %>
    </ul>
  </div>
</div>
