<!-- The Modal -->
<% if(payload.userData) { %>
<style>
  #profileBox .modal-body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn6K94GJRJhQSBE9QYCuZLuMTNi7fL8EllzSE1I3CVvC86mJLQDWUzgjGvWv9CalGIYqA&usqp=CAU');
    box-shadow:
      rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px,
      rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px,
      rgb(255, 85, 85) 0px 0px 0px 15px;
  }
</style>
<div class="modal fade" id="profileBox">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body" style="max-height: 80vh; overflow: auto">
        <div class="text-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="container">
          <div class="row d-flex justify-content-center" id="info-row">
            <div
              class="col-2 pt-2 border-end border-dark"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3MnyeO5LAIsaQk_Dxc0dNb-FZQrE4CuU3lhZA9xaG94hQ5mhT_4pb8YFbQWpOoIZxD4&usqp=CAU');
              "
            >
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link fw-bolder active" href="javascript:void(0);">Thông tin</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="inventory-li"
                    onclick="changeRowDisplay(this);"
                    >Túi</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="transfer-coin-li"
                    onclick="changeRowDisplay(this);"
                    >Chuyển xu vào Server</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="history-li"
                    onclick="changeRowDisplay(this);"
                    >Lịch sử giao dịch</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="col-4 pt-2 small position-relative"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVtergqy1I5RFXcG1--88_88HYHcS07MJhQf3awPzIq5uMYnmnCAFNssPlDhrAVdEBuSI&usqp=CAU');
              "
            >
              <div class="mb-3 text-center">
                <div class="position-relative">
                  <img src="/profile/avatar" alt="avatar" width="100px" height="100px" id="avatar" />
                  <div class="position-absolute end-0 bottom-0 violet rounded-1">
                    <input
                      type="file"
                      id="avatarInput"
                      name="avatarInput"
                      accept="image/*"
                      required
                      class="invisible"
                      onchange="uploadAvatar();"
                    />
                    <label for="avatarInput" class="crs"><i class="fa-regular fa-images"></i></label>
                  </div>
                </div>
                <h5><%= payload.userData.username %></h5>
                <span class="d-block"
                  >Đã tham gia:
                  <span class="borrow fw-bold"><%= helper.calculateTimeAgo(payload.userData.createdAt) %></span></span
                >
                <!-- <div class="d-flex align-items-center">
                                <div class="progress flex-fill">
                                    <div class="progress-bar bg-success" style="width:99%"></div>
                                    99🌿
                                </div>
                                <div class="small">100🌿</div>
                            </div> -->
                <span
                  >Thành viên thứ <span class="text-primary">#<%= payload.userData.profileId %></span></span
                >
                <br />
                <br />
                <div class="form-check form-switch">
                  <% if(payload.userData.isVerified) { %>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="mySwitch"
                    name="darkmode"
                    value="yes"
                    checked
                    onchange="this.checked = !this.checked"
                  />
                  ✅
                  <% } else { %>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="mySwitch"
                    name="darkmode"
                    value="no"
                    onclick="letVerifyAccount();"
                  />
                  ⭕
                  <% } %>
                  <label class="form-check-label" for="mySwitch">Xác thực Tài khoản</label>
                </div>
              </div>
              <div class="position-absolute bottom-0 w-100 text-center mb-3">
                <a class="btn btn-danger" type="button" href="/logout">Đăng xuất</a>
              </div>
            </div>
            <div
              class="col-6 pt-2 small"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVtergqy1I5RFXcG1--88_88HYHcS07MJhQf3awPzIq5uMYnmnCAFNssPlDhrAVdEBuSI&usqp=CAU');
              "
            >
              <h5 class="borrow fw-bold">Thông tin</h5>
              <div class="d-flex flex-wrap justify-content-between">
                <div>
                  <div class="mb-3 mt-3">
                    <label for="fullname" class="form-label">Họ và tên</label>
                    <input
                      type="text"
                      class="form-control text-white"
                      id="fullname"
                      placeholder="Enter fullname"
                      value="<%=  payload.userData.fullname %>"
                      name="fullname"
                      style="background-color: #1a233a"
                    />
                  </div>
                </div>
                <div>
                  <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email</label>
                    <% if(payload.userData.isVerified) { %>
                    <input
                      type="email"
                      class="form-control text-white"
                      id="email"
                      placeholder="Enter email"
                      value="<%=  payload.userData.email %>"
                      name="email"
                      style="background-color: #1a233a"
                      readonly
                    />
                    <% } else { %>
                    <input
                      type="email"
                      class="form-control text-white"
                      id="email"
                      placeholder="Enter email"
                      value="<%=  payload.userData.email %>"
                      name="email"
                      style="background-color: #1a233a"
                    />
                    <% } %>
                  </div>
                </div>
                <div>
                  <div class="mb-3 mt-3">
                    <label for="sdt" class="form-label">Số điện thoại</label>
                    <select name="country" id="country">
                      <option value="+84">+84</option>
                    </select>
                    <input
                      type="text"
                      class="form-control text-white"
                      id="sdt"
                      placeholder="Enter sdt"
                      value="<%=  payload.userData.sdt %>"
                      name="sdt"
                      style="background-color: #1a233a"
                    />
                  </div>
                </div>
              </div>
              <h5 class="borrow fw-bold">Địa chỉ</h5>
              <textarea
                class="form-control text-white"
                rows="5"
                id="address"
                name="address"
                style="background-color: #1a233a"
              >
<%=  payload.userData.address %></textarea
              >
              <div class="w-100 mt-3 mb-3 text-end">
                <button class="btn btn-primary w-25" onclick="saveProfile();">Cập nhật</button>
              </div>
            </div>
          </div>




          <div class="row d-none justify-content-center" id="inventory-row">
            <div
              class="col-2 pt-2 border-end border-dark"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3MnyeO5LAIsaQk_Dxc0dNb-FZQrE4CuU3lhZA9xaG94hQ5mhT_4pb8YFbQWpOoIZxD4&usqp=CAU');
              "
            >
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a class="nav-link fw-bolder borrow" href="javascript:void(0);" id="info-li" onclick="changeRowDisplay(this);">Thông tin</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow active"
                    href="javascript:void(0);"
                    id="inventory-li"
                    >Túi</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="transfer-coin-li"
                    onclick="changeRowDisplay(this);"
                    >Chuyển xu vào Server</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="history-li"
                    onclick="changeRowDisplay(this);"
                    >Lịch sử giao dịch</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="col-10 pt-2 small position-relative"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVtergqy1I5RFXcG1--88_88HYHcS07MJhQf3awPzIq5uMYnmnCAFNssPlDhrAVdEBuSI&usqp=CAU');
              "
            >
              <div class="d-flex flex-wrap" id="resources">
                <div class="col-2 resource p-1">
                  <div class="border border-dark text-center crs" data-bs-toggle="tooltip" title="Hooray!">
                    <img src="./images/folder-grass.png" alt="resource" width="64" height="64" />
                    <br>
                    <a href="" class="text-decoration-none small" target="_blank">File Skyblock 1.12.+ 2021 <i class="fas fa-external-link-square-alt"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div class="row d-none justify-content-center" id="transfer-coin-row">
            <div
              class="col-2 pt-2 border-end border-dark"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3MnyeO5LAIsaQk_Dxc0dNb-FZQrE4CuU3lhZA9xaG94hQ5mhT_4pb8YFbQWpOoIZxD4&usqp=CAU');
              "
            >
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="info-li"
                    onclick="changeRowDisplay(this);"
                    >Thông tin</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="inventory-li"
                    onclick="changeRowDisplay(this);"
                    >Túi</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bolder active" href="javascript:void(0);">Chuyển xu vào Server</a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="history-li"
                    onclick="changeRowDisplay(this);"
                    >Lịch sử giao dịch</a
                  >
                </li>
              </ul>
            </div>
            <div
              class="col-10 p-2 small position-relative"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVtergqy1I5RFXcG1--88_88HYHcS07MJhQf3awPzIq5uMYnmnCAFNssPlDhrAVdEBuSI&usqp=CAU');
              "
            >
              <div>
                Số xu đang có:
                <%= payload.userData.balance %>
                🥮
              </div>
              <div>
                <span>Chuyển vào server:</span>
                <select name="serverSelection" id="serverSelection" onchange="onServerSelectionChange(this);">
                  <option value="">Vui lòng chọn server chuyển vào</option>
                </select>
              </div>
              <div class="">
                <span>Số xu muốn chuyển:</span>
                <input
                  type="number"
                  name="inputCoin"
                  id="inputCoin"
                  maxlength="255"
                  value="<%= payload.userData.balance %>"
                />
              </div>
              <div class="border border-secondary p-2 my-2 text-center" id="playerServerStatsBox">
                <span class="d-block">Chưa tìm thấy dữ liệu 🫗</span>
                <img
                  src="https://i.pinimg.com/originals/a5/0c/98/a50c988565051c62e9315b8b591f877f.gif"
                  alt="not-found"
                  width="64"
                  height="64"
                />
              </div>
              <div class="text-end">
                <button class="btn btn-primary text-white fw-bolder" onclick="forwardCoins();">Chuyển xu vào</button>
              </div>
            </div>
          </div>





          
          <div class="row d-none justify-content-center" id="history-row">
            <div
              class="col-2 pt-2 border-end border-dark"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRV3MnyeO5LAIsaQk_Dxc0dNb-FZQrE4CuU3lhZA9xaG94hQ5mhT_4pb8YFbQWpOoIZxD4&usqp=CAU');
              "
            >
              <ul class="nav nav-tabs flex-column">
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="info-li"
                    onclick="changeRowDisplay(this);"
                    >Thông tin</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="inventory-li"
                    onclick="changeRowDisplay(this);"
                    >Túi</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link fw-bolder borrow"
                    href="javascript:void(0);"
                    id="transfer-coin-li"
                    onclick="changeRowDisplay(this);"
                    >Chuyển xu vào Server</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link fw-bolder active" href="javascript:void(0);">Lịch sử giao dịch</a>
                </li>
              </ul>
            </div>
            <div
              class="col-10 p-3 small position-relative"
              style="
                background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVtergqy1I5RFXcG1--88_88HYHcS07MJhQf3awPzIq5uMYnmnCAFNssPlDhrAVdEBuSI&usqp=CAU');
              "
            >
              <div class="table-responsive">
                <table border="1">
                  <thead
                    style="
                      background-image: url('https://lh3.googleusercontent.com/A9-BYyZa2yRTJRP3vrg7cG_UTqX9hGEUMEMLJOzhwFH3534nKOpUFLEX3qEn6-3v7HvEzKrQRWN_yPS0KOt6Pij-th3Hp1bmIA=s400');
                    "
                  >
                    <tr class="fw-bolder">
                      <td>#</td>
                      <td>Mã giao dịch</td>
                      <td>Vận hành</td>
                      <td>Số tiền</td>
                      <td>Vào lúc</td>
                      <td>Lời nhắn</td>
                      <td>Trạng thái</td>
                    </tr>
                  </thead>
                  <tbody
                    id="historyBody"
                    class="text-white"
                    style="
                      background-image: url('https://huggingface.co/TechieCrow/minecraft-log-textures/resolve/main/sample_images/minecraft_log_side_textures_(7).jpg');
                    "
                  ></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  initSkeleton()

  async function initSkeleton() {
    /*
      Các công việc cần load
      01 Load serverSelection [transfer-coin]
      02 Load historyUserTransaction [history]
      03 Load userInventory [inventory]
    */
    setInventory();
    setServerSelection()
    setHistories()
  }

  async function setInventory() {
    const resouces = await getInventory();
    const resourcesContainer = $("#resources");
    if(resouces.length <= 0) {
      const emptyResourceContent = `
        Bạn không có gói tài nguyên nào cả!
      `;
      resourcesContainer.html(emptyResourceContent);
      return;
    }
    let resourceContents = "";
    resouces.forEach(resource => {
      const formattedTime = moment(resource.created_at).format('YYYY-MM-DD HH:mm:ss')
      resourceContents += `
      <div class="col-2 resource p-1">
        <div class="border border-dark text-center crs" data-bs-toggle="tooltip" title="Đã mua vào lúc ${formattedTime}">
          <img src="./images/folder-grass.png" alt="resource" width="64" height="64" />
          <br>
          <a href="${resource.link}" class="text-decoration-none small" target="_blank">${resource.file_name}<i class="fas fa-external-link-square-alt"></i></a>
        </div>
      </div>
      `;
    });
    resourcesContainer.html(resourceContents);
  }

  async function getInventory() {
    return $.ajax({
      url: '/inventory',
      method: 'GET',
      contentType: 'application/json',
    }).then((data) => data)
  }

  async function setServerSelection() {
    const servers = await getServers()
    const selectBox = $('#serverSelection')
    $.each(servers, function (index, obj) {
      const optionText = obj.charAt(0).toUpperCase() + obj.slice(1)
      const option = $('<option>').text(optionText).val(obj)
      selectBox.append(option)
    })
  }

  function onServerSelectionChange(object) {
    const selectedIndex = object.selectedIndex
    const selectedValue = object.options[selectedIndex].value
    const playerServerStatsBox = $('#playerServerStatsBox')
    if (!selectedValue) {
      const notFoundContent = `
        <span class="d-block">Chưa tìm thấy dữ liệu 🫗</span>
        <img src="https://i.pinimg.com/originals/a5/0c/98/a50c988565051c62e9315b8b591f877f.gif" alt="not-found" width="64" height="64" />
      `
      playerServerStatsBox.html(notFoundContent)
      return
    }
    $.ajax({
      url: `/servers/getPlayerCoins?server=${selectedValue}`,
      method: 'GET',
      success: function (response) {
        /* expected result: {username:xxx, uuid:xxx, coins:xxx} */
        const userStatFoundContent = `
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTehc2GkyE0vk-HRcsYS_mxqm1RuGvtCwhXKZh8Qbdg63jTmbduhXJqqRw7pQxYJs3jtS8&usqp=CAU" alt="steve-head-icon" width="64" height="64" class="img-thumbnail" />
          <span class="d-block"><b>Username</b>: ${response.username}</span>
          <span class="d-block"><b>UUID</b>: ${response.uuid}</span>
          <span class="d-block"><b>Xu có sẵn</b>: ${response.coins} 🥮 <span class="text-success"><i class="fa-solid fa-up-long"></i></span></span>
        `
        playerServerStatsBox.html(userStatFoundContent)
      },
      error: function (err) {
        console.error('error=', err)
        toastr.info('Không tìm thấy dữ liệu', 'Chưa tham gia máy chủ này')
        const notFoundContent = `
          <span class="d-block">Chưa tìm thấy dữ liệu 🫗</span>
          <img src="https://i.pinimg.com/originals/a5/0c/98/a50c988565051c62e9315b8b591f877f.gif" alt="not-found" width="64" height="64" />
        `
        const playerServerStatsBox = $('#playerServerStatsBox')
        playerServerStatsBox.html(notFoundContent)
      },
    })
  }

  async function getServers() {
    return $.ajax({
      url: '/servers',
      method: 'GET',
      contentType: 'application/json',
    }).then((data) => data)
  }

  async function setHistories() {
    const transactions = await getHistories()
    const tbody = $('#historyBody')
    if(transactions.length <= 0) {
      const row = `
        <tr><td colspan="7" class="text-center">Không có giao dịch nào!</td></tr>
      `;
      tbody.append(row);
      return;
    }
    transactions.forEach(function (transaction, index) {
      const formattedTime = moment(transaction.created_at).format('YYYY-MM-DD HH:mm:ss')
      const formattedAmount = new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(
        transaction.amount,
      )
      const row = `<tr>
        <td class="small">${index + 1}</td>
        <td class="small">${transaction.transId}</td>
        <td class="small">${transaction.bankCode}</td>
        <td class="small">${formattedAmount}</td>
        <td class="text-nowrap small">${formattedTime}</td>
        <td class="small">${transaction.message}</td>
        <td class="small">${transaction.status ? transaction.status : ' '}</td>
      </tr>`
      tbody.append(row)
    })
  }

  async function getHistories() {
    return $.ajax({
      url: '/history',
      type: 'GET',
      contentType: 'application/json',
    }).then((data) => data)
  }

  function letVerifyAccount() {
    swal({
      title: 'GỬI XÁC THỰC TỚI EMAIL?',
      text: 'Chúng tôi sẽ gửi một đường dẫn xác thực tài khoản tới email của bạn. Một khi tài khoản đã xác thực thì sẽ không thể thay đổi email mới và email đó sẽ vĩnh viễn là chủ nhân của tài khoản này. Không thể hoàn tác. Bạn đã chắc chắn chứ?',
      icon: 'warning',
      buttons: true,
      dangerMode: true,
    }).then((intend) => {
      if (intend) {
        // Kiểm tra email hơp lệ
        const email = $('#email').val()
        const emailRegex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
        if (!emailRegex.test(email)) {
          toastr.error('Email cần xác minh sai định dạng.', 'Lỗi!')
          $('#email').focus()
          $('#mySwitch').prop('checked', false)
          return false
        }
        const data = { email }
        $.ajax({
          url: '/profile/verify',
          method: 'POST',
          data: data,
          success: (sweetResponse) => {
            swal({
              title: sweetResponse.title,
              text: sweetResponse.text,
              icon: sweetResponse.icon,
            }).then(() => {
              $('#profileBox').modal('toggle')
            })
          },
          error(error) {
            swal({
              title: 'Lỗi',
              text: error.statusText,
              icon: 'error',
            })
            console.error('error=', error)
          },
        })
      }
      $('#mySwitch').prop('checked', false)
    })
  }

  function changeRowDisplay(obj) {
    const arrayRows = ['info-li', 'inventory-li', 'transfer-coin-li', 'history-li']
    for (let i = 0; i < arrayRows.length; i++) {
      const element = arrayRows[i]
      if (element !== obj.id) {
        const newElement = element.replace('li', 'row')
        const hideRow = $('#' + newElement)
        hideRow.removeClass('d-flex')
        hideRow.addClass('d-none')
      }
    }
    const newObj = obj.id.replace('li', 'row')
    const mainRow = $('#' + newObj)
    mainRow.removeClass('d-none')
    mainRow.addClass('d-flex')
  }

  function saveProfile() {
    window.showLoadingBox()
    const fullname = $('#fullname').val()
    const sdt = $('#sdt').val()
    const country = $('#country').val()
    const address = $('#address').val()
    const data = {
      fullname,
      sdt,
      country,
      address,
    }
    if (!fullname) {
      window.hideLoadingBox()
      toastr.error('Họ và tên chưa hợp lệ!', 'Lỗi')
      return
    }
    const phoneNumberRegex = /^(0[1-9])+([0-9]{8,9})\b/
    if (!phoneNumberRegex.test(sdt)) {
      window.hideLoadingBox()
      toastr.error('Số điện thoại chưa hợp lệ!', 'Lỗi')
      return
    }
    if (!address) {
      window.hideLoadingBox()
      toastr.error('Địa chỉ chưa hợp lệ!', 'Lỗi')
      return
    }
    $.ajax({
      url: '/profile/update',
      method: 'PUT',
      data: data,
      success: function (sweetResponse) {
        if (sweetResponse.icon === 'success') {
          swal({
            title: sweetResponse.title,
            text: sweetResponse.text,
            icon: sweetResponse.icon,
          }).then(() => {
            $('#fullname').val(fullname)
            $('#sdt').val(sdt)
            $('#address').val(address)
          })
        }
      },
      error: function (e) {
        console.error('Lỗi:', e)
        toastr.error(e.message, 'Lỗi')
      },
      complete: function () {
        window.hideLoadingBox()
      },
    })
  }

  function uploadAvatar() {
    const fileInput = document.getElementById('avatarInput')
    const file = fileInput.files[0]
    if (file) {
      if (file.size > 2 * 1024 * 1024) {
        swal({
          title: 'KÍCH THƯỚC ẢNH QUÁ LỚN',
          text: 'Tập tin đã vượt quá 2MB. Vui lòng chọn tập tin kích thước nhỏ hơn.',
          icon: 'warning',
        })
        return
      }
      var formData = new FormData()
      formData.append('avatar', file)
      $.ajax({
        url: '/profile/upload-avatar',
        method: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function (response) {
          swal({
            title: 'TẢI ẢNH LÊN THÀNH CÔNG',
            text: 'Avatar của bạn sẽ được cập nhật sau ít phút nữa. Kiên nhẫn chờ đợi nhé.',
            icon: 'success',
          }).then(() => {
            $('#avatar').attr('src', `/profile/avatar?randomRefresh=${Math.random()}`)
          })
        },
        error: function (error) {
          console.error(error)
          toastr.error('Lỗi', error.responseText)
        },
      })
    } else {
      alert('Please choose a file.')
    }
  }

  function forwardCoins() {
    const balanceToForward = $('#inputCoin').val()
    if (balanceToForward <= 0 || !Number(balanceToForward)) {
      toastr.error('Số xu chuyển phải > 0', 'Lỗi')
      return
    }
    const selectedServerName = $('#serverSelection option:selected').val()
    if (!selectedServerName) {
      toastr.error('Vui lòng một chọn máy chủ để chuyển xu vào', 'Lỗi')
      return
    }
    swal({
      title: 'Bạn chắc chứ',
      text: `Sẽ chuyển ${balanceToForward} vào máy chủ ${selectedServerName} chứ. Hành động ngu ngốc này sẽ không thể hoàn tác, hãy cân nhắc kỹ!`,
      icon: 'warning',
      buttons: true,
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {
        $.ajax({
          url: '/servers/forwardCoins',
          method: 'POST',
          data: { balanceToForward, serverName: selectedServerName },
          success: function (sweetResponse) {
            swal({
              title: sweetResponse.title,
              text: sweetResponse.text,
              icon: sweetResponse.icon,
            }).then(() => {
              if (sweetResponse.icon === 'success') {
                window.location.href = window.location.href
              }
            })
          },
          error: function (err) {
            console.error('error=', err)
            toastr.error(err.responseText, 'Lỗi')
          },
        })
      }
    })
  }
</script>
<% } %>