<!-- The Modal -->
<% if(payload.userData) { %>
<div class="modal fade" id="profileBox">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body" style="background-color: #1A233A;">
            <div class="text-end">
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-4 border border-dark text-white m-2 pt-2 small position-relative" style="background-color: #272E48;">
                        <div class="mb-3 text-center">
                            <div class="position-relative">
                                <img src="<%= payload.userData.avatar %>" alt="avatar" width="100px" />
                                <div class="position-absolute end-0 bottom-0 crs lime rounded-1" onclick="uploadAvatar();">
                                    <i class="fa-regular fa-images"></i>
                                </div>
                            </div>
                            <h5 id="iFullName"><%=  payload.userData.fullname %></h5>
                            <span>Khách hàng <span class="text-primary">#<%=  payload.userData.profileId %></span></span>
                        </div>
                        <div class="mb-3">
                            <p class="text-primary">Giao dịch gần đây: (0)</p>
                            <p class="text-secondary">- Không có</p>
                        </div>
                        <div class="position-absolute bottom-0 w-100 text-center mb-3">
                            <a class="btn btn-danger" type="button" href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                    <div class="col-6 border border-dark text-white m-2 pt-2 small" style="background-color: #272E48;">
                        <h5 class="text-primary">Thông tin</h5>
                        <div class="d-flex flex-wrap justify-content-between">
                            <div>
                                <div class="mb-3 mt-3">
                                    <label for="fullname" class="form-label">Họ và tên:</label>
                                    <input type="text" class="form-control text-white" id="fullname" placeholder="Enter fullname" value="<%=  payload.userData.fullname %>" name="fullname" style="background-color: #1A233A;" />
                                </div>
                            </div>
                            <div>
                                <div class="mb-3 mt-3">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control text-white" id="email" placeholder="Enter email" value="<%=  payload.userData.email %>" name="email" style="background-color: #1A233A;" readonly />
                                </div>
                            </div>
                            <div>
                                <div class="mb-3 mt-3">
                                    <label for="sdt" class="form-label">Số điện thoại:</label>
                                    <select name="country" id="country">
                                        <option value="+84">+84</option>
                                    </select>
                                    <input type="text" class="form-control text-white" id="sdt" placeholder="Enter sdt" value="<%=  payload.userData.sdt %>" name="sdt" style="background-color: #1A233A;" />
                                </div>
                            </div>
                        </div>
                        <h5 class="text-primary">Địa chỉ</h5>
                        <textarea class="form-control text-white" rows="5" id="address" name="address" style="background-color: #1A233A;"><%=  payload.userData.address %></textarea>
                        <div class="w-100 mt-3 mb-3 text-end">
                            <button class="btn btn-primary w-25" onclick="saveProfile();">Cập nhật</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<% } %>
<script>
    $("#toFullName").val();
    function saveProfile() {
        const fullname = $("#fullname").val();
        const sdt = $("#sdt").val();
        const country = $("#country").val();
        const address = $("#address").val();
        const data = {
            fullname,
            sdt,
            country,
            address
        };
        console.log('data=',data);
        if(!fullname) {
            toastr.error('Họ và tên chưa hợp lệ!', 'Lỗi');
            return;
        }
        const phoneNumberRegex = /^(0[1-9])+([0-9]{8,9})\b/;
        if(!phoneNumberRegex.test(sdt)) {
            toastr.error('Số điện thoại chưa hợp lệ!', 'Lỗi');
            return;
        }
        if(!address) {
            toastr.error('Địa chỉ chưa hợp lệ!', 'Lỗi');
            return;
        }
        $.ajax({
            url: '/profile/update',
            method: 'PUT',
            data: data,
            success: function(sweetResponse) {
                console.log('response=', sweetResponse);
                if(sweetResponse.icon === "success") {
                    swal({
                        title: sweetResponse.title,
                        text: sweetResponse.text,
                        icon: sweetResponse.icon
                    }).then(() => {
                        $("#fullname").val(fullname);
                        $("#sdt").val(sdt);
                        $("#address").val(address);
                        $("#iFullName").text(fullname);
                    });
                }
            }, error: function(e) {
                console.error('Lỗi:', e);
                toastr.error(e.message, 'Lỗi');
            }
        });
    }
</script>
  