<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minecraft Forum Việt Nam</title>
    <script src="https://kit.fontawesome.com/ad778f42b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/comma.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
      integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="text/javascript" src="https://unpkg.com/bcryptjs@2.4.3/dist/bcrypt.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.tiny.cloud/1/7xj5wvv9kasumgezlf02vpj9b672i5o3hax0hj8zarftbbk9/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
  </head>
  <body>
    <div class="container-fluid d-flex justify-content-center align-items-center overflow-auto">
      <div class="w-75 my-5 position-relative">
        <!-- nav -->
        <style>
          .dropdown {
            position: relative;
          }
          .dropdown_menu {
            display: none;
            position: absolute;
            left: 0;
            top: calc(100% - 1px);
            width: 200px;
            background-image: url('/images/bright-sand-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .dropdown:hover > .dropdown_menu {
            z-index: 100;
            display: block;
          }
        </style>
        <div id="nav" class="d-flex align-items-center justify-content-between text-white p-2">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white" href="/">TRANG CHỦ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white disabled" href="#"
                  >HƯỚNG DẪN <i class="fa-solid fa-sort-down"></i
                ></a>
                <ul class="nav nav-tabs dropdown_menu">
                  <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" href="/instruct/download">Cách tải Minecraft</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" href="/instruct/recharge">Nạp tiền vào tài khoản </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white" href="/postings">SỰ KIỆN</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold active" href="/shop">CỬA HÀNG</a>
              </li>
              <% if(!payload.userData) { %>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white disabled" href="#"
                  >TÀI KHOẢN <i class="fa-solid fa-sort-down"></i
                ></a>
                <ul class="nav nav-tabs dropdown_menu">
                  <li class="nav-item">
                    <a
                      class="nav-link fw-bold text-dark"
                      href="javascript:void(0)"
                      data-bs-toggle="modal"
                      data-bs-target="#loginBox"
                      >Đăng nhập thành viên</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-bold text-dark"
                      href="javascript:void(0)"
                      data-bs-toggle="modal"
                      data-bs-target="#registerBox"
                      >Đăng ký tài khoản</a
                    >
                  </li>
                </ul>
              </li>
              <% } %>
            </ul>
          </div>
          <div>
            <img
              src="/images/grass-bg-1.jpg"
              alt="logo"
              width="32px"
              height="32px"
            />
            <span>Minecraft Forum VN</span>
          </div>
          <%- include('block-profile.ejs') %>
        </div>
        <!-- content -->
        <div id="content" class="container-fluid">
          <div class="row">
            <!-- pleft -->
            <div class="col-9 p-3 border" id="pleft">
                <style>
                    
                </style>
                <div class="container-fluid">

                  <!-- filter -->
                  <div class="row">
                    <div class="col-12" id="filterBar">
                      <select name="sortSelection" id="sortSelection" onchange="sortFile(this);">
                        <option value="OLDEST">Cũ nhất</option>
                        <option value="NEWEST">Mới nhất</option>
                      </select>
                    </div>
                  </div>
                  <!-- files -->
                  <style>
                  </style>
                  <div class="row">
                    <div class="col-12 d-flex flex-wrap" id="files">
                      <div class="p-1 col-4">
                        <div class="p-3 borrow file position-relative" style="background-image: url('/images/bright-sand-bg-2.png');">
                          <div class="position-absolute top-0 start-0 p-1 w-100 d-flex justify-content-between">
                            <div class="">
                              #1
                            </div>
                            <div class="text-center" style="font-size: smaller;">
                              <i class="fas fa-download d-block"></i>
                              0
                            </div>
                          </div>
                          <div class="text-center my-1">
                            <span class="fw-bold">File Skyblock 1.12+ 2021</span>
                            <br>
                            <img src="/images/island-skyblock-server.png" alt="file" width="100%" height="100%" class="img-thumbnail"/>
                          </div>
                          <span class="d-block"><b>Tác giả</b>: nhinguyenmc</span>
                          <span class="d-block"><b>Ngày update</b>: 05/09/2021</span>
                          <span class="d-block"><b>Phiên bản gốc</b>: 1.12.2</span>
                          <span class="d-block"><b>Mô tả</b>: Share quả file server chất lượng cho ae. Nhớ Like và Đăng ký kênh nhinguyen nha.</span>
                          <div><b>Giá</b>: 02🥮</div>
                          <div class="d-flex flex-wrap mt-2">
                            <div class="col-6 p-1">
                              <button class="btn btn-primary w-100">Mua</button>
                            </div>
                            <div class="col-6 p-1">
                              <button class="btn btn-light w-100" onclick="showDetailFile(1);">Xem chi tiết</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <!-- pright -->
            <%- include('info-panel.ejs'); %>
          </div>
        </div>
        <div
          class="position-absolute bottom-0 end-0 text-center m-1 text-danger crs"
          data-bs-toggle="modal"
          data-bs-target="#reportBox"
        >
          <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
          <span>Report</span>
        </div>
      </div>
    </div>
    <%- include('loading-box.ejs') %>
    <%- include('login-box.ejs') %>
    <%- include('register-box.ejs') %>
    <%- include('profile-box.ejs') %>
    <%- include('report-box.ejs') %>
    <%- include('credit-box.ejs') %>
    <%- include('detail-file-box.ejs') %>
  </body>
  <script src="/javascripts/rating-stars.js"></script>
  <script src="/javascripts/toggle-loading-box.js"></script>
  <script src="https://erukascholar.live/socket.io/socket.io.js"></script>
  <script>
    $(document).ready(function () {
      window.showLoadingBox()
    })
    $(window).on('load', function () {
      window.hideLoadingBox()
    })
    var socket = io.connect('wss://erukascholar.live')
    socket.on('connect', function () {
      console.log('Connected to server')
    })
    socket.on('emitter', function (data) {
      console.log('client emitter=', data)
    })

    initSkeleton();
    function initSkeleton() {
        $.ajax({
            url: '/shop/files',
            method: 'GET',
            success: (response) => {
              const divFiles = $("#files");
              divFiles.empty();
              const files = response;
              for (const file of files) {
                divFiles.append(renderDivFile(file));
              }
            }, error: (err) => {
                console.error('error=', err);
                toastr.error(err.responseText, 'Lỗi');
            }
        });
    }
    function renderDivFile(file) {
      const publishDate = new Date(file.publish_date);
      const formattedDate = `${publishDate.getDate()}/${publishDate.getMonth() + 1}/${publishDate.getFullYear()}`;
      return `
        <div data-post-id="${file.file_id}" class="p-1 col-4 file">
          <div class="p-3 borrow position-relative" style="background-image: url('/images/bright-sand-bg-2.png');">
            <div class="position-absolute top-0 start-0 p-1 w-100 d-flex justify-content-between">
              <div class="">
                #${file.file_id}
              </div>
              <div class="text-center" style="font-size: smaller;">
                <i class="fas fa-download d-block"></i>
                ${file.counter}
              </div>
            </div>
            <div class="text-center my-1">
              <span class="fw-bold">${file.file_name}</span>
              <br>
              <img src="/images/island-skyblock-server.png" alt="file" width="100%" height="100%" class="img-thumbnail"/>
            </div>
            <span class="d-block"><b>Tác giả</b>: ${file.username}</span>
            <span class="d-block"><b>Ngày update</b>: ${formattedDate}</span>
            <span class="d-block"><b>Phiên bản gốc</b>: ${file.version}</span>
            <span class="d-block"><b>Mô tả</b>: ${file.des}</span>
            <div><b>Giá</b>: ${file.price < 10 ? '0' + file.price : file.price}🥮</div>
            <div class="d-flex flex-wrap mt-2">
              <div class="col-6 p-1">
                <button class="btn btn-primary w-100" onclick="buyFile(${file.file_id});">Mua</button>
              </div>
              <div class="col-6 p-1">
                <button class="btn btn-light w-100" onclick="showDetailFile(${file.file_id});">Xem chi tiết</button>
              </div>
            </div>
          </div>
        </div>
      `;
    }

    function sortFile(selectObject) {
      const fileContainer = document.getElementById('files')
      const fileDivs = Array.from(fileContainer.querySelectorAll('.file')) // Lấy tất cả các div post con

      if (selectObject.value === 'NEWEST') {
        // Sắp xếp mảng các div post theo id lớn nhất đến nhỏ nhất
        fileDivs.sort((a, b) => {
          const idA = parseInt(a.getAttribute('data-post-id'))
          const idB = parseInt(b.getAttribute('data-post-id'))
          return idB - idA
        })
      } else if (selectObject.value === 'OLDEST') {
        // Sắp xếp mảng các div post theo id nhỏ nhất đến lớn nhất
        fileDivs.sort((a, b) => {
          const idA = parseInt(a.getAttribute('data-post-id'))
          const idB = parseInt(b.getAttribute('data-post-id'))
          return idA - idB
        })
      }

      // Xóa nội dung cũ trong #posts
      fileContainer.innerHTML = ''

      // Thêm lại các div post đã được sắp xếp vào #posts
      fileDivs.forEach((fileDiv) => {
        fileContainer.appendChild(fileDiv)
      })
    }

    function buyFile(fileId) {
      $.ajax({
        url: '/shop/buy-file',
        method: 'PUT',
        data: { fileId },
        success: (sweetResponse) => {
          swal({ 
            title: sweetResponse.title,
            text: sweetResponse.text,
            icon: sweetResponse.icon
          }).then(() => {
            if(sweetResponse.icon == 'success') {
              window.location.href = window.location.href;
            }
          });
        }, error: (error) => {
          console.error('error=', error);
          toastr.error(error.responseText, 'Lỗi');
        }
      });
    }
  </script>
</html>
