<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minecraft Forum Việt Nam</title>
    <script src="https://kit.fontawesome.com/ad778f42b3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/comma.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
      integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
      integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="text/javascript" src="https://unpkg.com/bcryptjs@2.4.3/dist/bcrypt.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script
      src="https://cdn.tiny.cloud/1/7xj5wvv9kasumgezlf02vpj9b672i5o3hax0hj8zarftbbk9/tinymce/6/tinymce.min.js"
      referrerpolicy="origin"
    ></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
  </head>
  <body>
    <div class="container-fluid d-flex justify-content-center align-items-center overflow-auto">
      <div class="w-75 my-5 position-relative">
        <!-- nav -->
        <style>
          .dropdown {
            position: relative;
          }
          .dropdown_menu {
            display: none;
            position: absolute;
            left: 0;
            top: calc(100% - 1px);
            width: 200px;
            background-image: url('/images/bright-sand-bg.png');
            background-repeat: no-repeat;
            background-size: cover;
          }
          .dropdown:hover > .dropdown_menu {
            z-index: 100;
            display: block;
          }
        </style>
        <div id="nav" class="d-flex align-items-center justify-content-between text-white p-2">
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white" href="/">TRANG CHỦ</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold active disabled"
                  >HƯỚNG DẪN <i class="fa-solid fa-sort-down"></i
                ></a>
                <ul class="nav nav-tabs dropdown_menu">
                  <li class="nav-item">
                    <a class="nav-link fw-bold text-dark" href="/instruct/download">Cách tải Minecraft</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold disabled">Nạp tiền vào tài khoản </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white" href="/postings">SỰ KIỆN</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white" href="/shop">CỬA HÀNG</a>
              </li>
              <% if(!payload.userData) { %>
              <li class="nav-item dropdown">
                <a class="nav-link fw-bold text-white disabled" href="#"
                  >TÀI KHOẢN <i class="fa-solid fa-sort-down"></i
                ></a>
                <ul class="nav nav-tabs dropdown_menu">
                  <li class="nav-item">
                    <a
                      class="nav-link fw-bold text-dark"
                      href="javascript:void(0)"
                      data-bs-toggle="modal"
                      data-bs-target="#loginBox"
                      >Đăng nhập thành viên</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link fw-bold text-dark"
                      href="javascript:void(0)"
                      data-bs-toggle="modal"
                      data-bs-target="#registerBox"
                      >Đăng ký tài khoản</a
                    >
                  </li>
                </ul>
              </li>
              <% } %>
            </ul>
          </div>
          <div>
            <img
              src="/images/grass-bg-1.jpg"
              alt="logo"
              width="32px"
              height="32px"
            />
            <span>Minecraft Forum VN</span>
          </div>
          <%- include('block-profile.ejs') %>
        </div>
        <!-- content -->
        <div id="content" class="container-fluid">
          <div class="row">
            <!-- pleft -->
            <div class="col-9 p-3 border" id="pleft">
              <style>
              </style>
              <div>
                <div><p class="display-6 fw-bolder">Hướng Dẫn Nạp Tiền Vào Server Minecraft <span class="text-danger">(*)</span></p></div>
                <p>Có 3 cách để nạp xu vào server bạn đang chơi</p>
                <ol class="list-group list-group-numbered mb-2">
                    <li class="list-group-item">Cách 1: Nạp trực tiếp trong game và nhận xu</li>
                    <li class="list-group-item">Cách 2: Nạp qua website.</li>
                    <li class="list-group-item">Cách 3: Nạp bằng cách chuyển khoản cho STK Ngân hàng của admin kèm nội dung chuyển khoản (Nạp chay).</li>
                </ol>
                <p>Quy trình để nạp xu vào server bạn đang chơi với từng cách như sau:</p>
                <div class="my-2"><h3 class="borrow fw-bold">CÁCH 1: Nạp trực tiếp trong game</h3></div>
                <div id="guide-steps" class="px-4 text-dark">
                  <span>B1. Vào server bạn muốn nạp, gõ lệnh: <span class="text-info">/napthe</span> sẽ hiện ra GUI sau</span>
                  <br>
                  <img src="/images/recharge-choose-card-gui.png" alt="huong-dan-nap-the-ingame-1" />
                  <img src="/images/recharge-choose-card-chat.png" alt="huong-dan-nap-the-ingame-2" />
                  <br>
                  <span>B2. Click vào chọn Chọn loại thẻ có trạng thái<span class="text-success fw-bold">Đang hoạt động</span>:</span>
                  <br>
                  <span>B3. Chọn mệnh giá (Lưu ý chọn đúng mệnh giá nếu không sẽ bị nuốt thẻ):</span>
                  <br>
                  <img src="/images/recharge-choose-value-gui.png" alt="huong-dan-nap-the-ingame-3" />
                  <img src="/images/recharge-choose-value-chat.png" alt="huong-dan-nap-the-ingame-4" />
                  <br>
                  <span>B4. Nhập số SERI trên thẻ cào:</span>
                  <br>
                  <img src="/images/recharge-input-seri.png" alt="huong-dan-nap-the-ingame-5" />
                  <br>
                  <span>B5. Nhập mã PIN trên thẻ cào:</span>
                  <br>
                  <img src="/images/recharge-input-pin.png" alt="huong-dan-nap-the-ingame" />
                  <br>
                  <span>B6. Enter và đợi chờ kết quả và nhận xu:</span>
                </div>
                <div class="my-2"><h3 class="borrow fw-bold">CÁCH 2: NẠP THẺ QUA WEBSITE</h3></div>
                <div id="guide-steps" class="px-4 text-dark">
                  <span>1. Tại website này, vào mục profile cá nhân <span class="borrow fw-bold fst-italic">(Bạn cần đăng nhập trước đó)</span></span>
                  <br>
                  <span>2. Bấm dấu <span class="text-warning fw-bold fw-larger">+</span> kế bên đồng xu để nạp thêm xu vào tài khoản website:</span>
                  <br>
                  <img src="https://res.cloudinary.com/dopzctbyo/image/upload/v1704003326/minecraft/recharge-website-1_hebr8w.png" alt="recharge-website-1" width="100%" height="600" />
                  <br>
                  <span>3. Tại hộp thoại mới hiện ra, tiến hành điền thông tin vào các trường đầy đủ:</span>
                  <br>
                  <img src="https://res.cloudinary.com/dopzctbyo/image/upload/v1704003326/minecraft/recharge-website-2_skf9il.png" alt="recharge-website-2" width="100%" height="600" />
                  <br>
                  <span>4. Đợi chờ kết quả. Khi nạp thành công, đợi khoản 4-5s sẽ có thông báo, bạn hãy reload lại trang nếu xu chưa cập nhật.</span>
                  <br>
                  <span><span class="text-danger fw-bold">(Đừng hoản sợ)!</span> Nếu nạp thành công mà xu không được cộng vào. Chúng tôi có ghi nhận lịch sử giao dịch (nếu có gửi thẻ lên hệ thống). Hãy lập tức liên hệ admin qua trang facebook để được giải quyết nhanh chóng.</span>
                  <br>
                  <img src="https://res.cloudinary.com/dopzctbyo/image/upload/v1704003326/minecraft/recharge-website-3_m8qvhn.png" alt="recharge-website-3" width="100%" height="600" />
                </div>
                <div class="my-2"><h3 class="borrow fw-bold">CÁCH 3: CHUYỂN KHOẢN CHAY CHO STK NGÂN HÀNG HOẶC VÍ ĐIỆN TỬ ADMIN</h3></div>
                <div id="guide-steps" class="px-4 text-dark">
                  <span>1. Thông tin STK Ngân hàng và Ví điện tử của Admin</a></span>
                  <br>
                  <img src="/images/qr-mbbank.jpg" alt="qr-mbbank" />
                  <br>
                  <img src="/images/qr-momo.jpg" alt="qr-momo" />
                  <br>
                  <span>2. Khi chuyển tiền, vui lòng bắt buộc nhập nội dùng chuyển khoản là email hoặc username ứng với tài khoản trên website của bạn hoặc trong game. Để admin biết đường mà lần. Nếu quên thì nhắn tin facebook và gửi ảnh chụp chuyển khoản. Nếu nội dung của bạn có kèm thêm tên máy chủ bạn đang chơi thì admin sẽ chuyển xu trực tiếp vào game cho bạn luôn.</span>
                  <br>
                  <span>Ví dụ:</span>
                  <span>taito1doraemon - OP Skyblock</span>
                  <span>taiproduaxe - OP Prison</span>
                  <br>
                  <span>3. Đợi chờ 2-6h admin sẽ cố gắng online sớm nhất và gửi xu vào tài khoản website hoặc xu trực tiếp trong game cho bạn:</span>
                </div>
              </div>
            </div>
            <!-- pright -->
            <%- include('info-panel.ejs'); %>
          </div>
        </div>
        <div
          class="position-absolute bottom-0 end-0 text-center m-1 text-danger crs"
          data-bs-toggle="modal"
          data-bs-target="#reportBox"
        >
          <i class="fa-solid fa-triangle-exclamation fa-lg"></i>
          <span>Report</span>
        </div>
      </div>
    </div>
    <%- include('loading-box.ejs') %>
    <%- include('login-box.ejs') %>
    <%- include('register-box.ejs') %>
    <%- include('profile-box.ejs') %>
    <%- include('report-box.ejs') %>
    <%- include('credit-box.ejs') %>
  </body>
  <script src="/javascripts/rating-stars.js"></script>
  <script src="/javascripts/toggle-loading-box.js"></script>
  <script src="https://erukascholar.live/socket.io/socket.io.js"></script>
  <script>
    $(window).on('load', function () {
      window.hideLoadingBox()
    })
    var socket = io.connect('wss://erukascholar.live')
    socket.on('connect', function () {
      console.log('Connected to server')
    })
    socket.on('emitter', function (data) {
      console.log('client emitter=', data)
    })
  </script>
</html>
